@import "~@/assets/sass/variables.sass"

$mdi-font-path: "~@mdi/font/fonts"
@import "~@mdi/font/scss/materialdesignicons.scss"

html
  *
    box-sizing: border-box

  .v-application
    h1,
    a
      color: $color-vue-green

    h1
      font-size: 26px

.no-marg-b td > *
  margin-bottom: 0 !important

.switch
  width: 65px


div.switch input // stylelint-disable-line
  $padding: 5px

  &:last-of-type:checked+span+label
    right: $padding

  &:first-of-type:checked+span+label
    left: $padding
